<div>
    <% {alert: :warning, error: :danger, success: :success, info: :info}.each do |key, css| %>
        <% if flash[key.to_sym] %>
            <p class="alert <%= "alert-#{css.to_s}" %> full-width"><%= flash[key.to_sym].html_safe %></p>
        <% end %>
    <% end %>
</div>