<footer class="row footer">
    <div class="container">
        <span id="attribution"><%= link_to "Data provided by IEX Cloud", "https://iexcloud.io", target: "_blank" %></span>
    </div>
</footer>